layout {
    pane split_direction="vertical" {

        pane split_direction="horizontal" {
            pane {
                name "Main Backend"
                cwd "."
                command "make"
                args "run" 
            }
            pane {
                name "Git Operations"
                cwd "."
            }
        }
        pane split_direction="horizontal" {
            pane {
                name "Frontend"
                cwd "./react-ts"
                command "npm"
                args "run" "dev"
            }
            pane {
                name "AI Service"
                cwd "./jigao-ai"
                command "npm" 
                args "run" "dev"
            }
        }
    }
}
